<header>
		<nav class="navbar container">
			<div class="navbar__logo">
				<a href="/">
					<img src="/assets/img/branding/logo_light_horizontal.svg" alt="logo de funkoshop" />
				</a>
			</div>

		
			<input type=checkbox id="btn-menu" />
			<div class="navbar__burger-icon">
							<label class="sidebar-pointer" for="btn-menu"><img class="navbar__bar" src="/assets/icons/burger-bar.svg" alt="icono de barra de busqueda" /></label>
			</div>
			
			<div class="container-sidebar">
			
				<div class="cont-sidebar">
			
					<nav>
					
						<a href="/">INICIO</a>
						<a href="/auth/login">LOGIN</a>
						<a href="/shop">SHOP</a>
						<a href="/admin">ADMIN</a>
						<a href="/auth/logout">SALIR</a>
						<a href="/auth/register">REGISTRARSE</a>
					
					</nav>
					<label for="btn-menu">X</label>
			
				</div>
			</div>

			<ul class="navbar__menu">
				
				<li><a href="/">INICIO</a></li>
				
				<% if(isLogin){ %>
				
					<li><a href="/admin">ADMIN</a></li>
					<li><a href="/auth/logout">SALIR</a></li>
				
				<% } else { %>
				
					
					<li><a href="/auth/login">LOGIN</a></li>
					
				<% } %>
				
				<li><a href="/shop">SHOP</a></li>
				<li>
					<a href="/shop/cart">
						<img src="/assets/icons/cart-icon.svg" alt="icono del carro de compras" />
					</a>
				</li>
			</ul>
		</nav>
	</header>